################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Android App/Droid/.vs/Droid/v16/Server/sqlite3
/Android App/Droid/Droid/bin/Debug
/Android App/Droid/Droid/obj/Debug/90
/Android App/Droid/TrainingRooms/bin/Debug/netstandard2.0
/Android App/Droid/TrainingRooms/obj
/ASP Core Application/.vs/ExploreCalifornia
/ASP Core Application/ExploreCalifornia/bin/Debug
/ASP Core Application/ExploreCalifornia/obj
