@{
    ViewData["Title"] = "Home Page";
    @model FizzBuzz.Models.IndexViewModel
}

<div class="text-center">
   <textarea disabled style="width: 600px; height: 600px;" asp-for="ProcessedData"></textarea>
</div>

